<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Привет <%= @username %> и с подключением к нашему проекту LockInRoom.ru!

  Твой пароль для входа <%= @password %>
  <a href="<%= @signin %>">
    Заходи:
  </a>
</p>

<%= render :partial => 'shared/mailer_sign' %>

</body>
</html>