<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>
            Привет <%= @username %>
            На сайте был получен запрос на смену пароля.
            Ссылка для смены пароля в личном каббинете ниже, время действительности ссылки - 15 минут.
            <a href="<%= @uri %>">
              Для смены пароля пройди по ссылке:
            </a>
        </p>

        <%= render :partial => 'shared/mailer_sign' %>
    </body>
</html>