Привет <%= @username %>
На сайте был получен запрос на смену пароля.
Ссылка для смены пароля в личном каббинете ниже, время действительности ссылки - 15 минут.
<a href="<%= @uri %>">
  Для смены пароля пройди по ссылке:
</a>

<%= render :partial => 'shared/mailer_sign' %>