<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>
            Привет <%= @username %><br>
            На сайте был получен запрос на смену пароля.<br>
            Ссылка для смены пароля в личном кабинете ниже, время действительности ссылки - 15 минут.<br>
            <a href="<%= @uri %>">
              Для смены пароля пройди по ссылке <%= @uri %>
            </a>
        </p>

        <%= render :partial => 'shared/mailer_sign' %>
    </body>
</html>