<div class="auth-block content-z-top col-lg-offset-3 col-lg-6">

  <p>Билет куплен</p>

  <ul>
    <li>Квест <%= @ticket.quest_item.name %></li>
    <li>Начало <%= l(@ticket.dt.to_datetime, :format => "%d %B %A %H:%M") %></li>
  </ul>

  Спасибо, Вам перезвонят!

  <%= link_to 'Вернуться на главную страницу', root_url %>

</div>