<div class="responses col-xs-12">
    <h1 class="content-center">
      Отзывы
    </h1>
    <div class="responses-content col-xs-12">
        <% @responses.each do |response| %>
          <div class="col-xs-4">
            <p class="user-response-name"><%= response.created_at.strftime "%Y %m %d %H:%M" %> | <%= response.user.name %></div>
            <p class="response-content-body"><%= response.content %></p>
          </div>
        <% end %>
    </div>
</div>