<div class="auth-block content-z-top content-center col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
      <h1>Напиши как всё было!</h1>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 response-form-block">
        <%= render 'form' %>
      </div>
</div>