<div class="auth-block content-z-top col-lg-offset-3 col-lg-6">

  <p>
    ты всё запорол username )
  </p>
  <p>
    иди снова оплачивай username
  </p>

  <%= button_to 'пробуй снова', payment_url %>
  <%= button_to 'вернуться на главную страницу', root_url %>

</div>