<div class="auth-block content-z-top col-lg-offset-3 col-lg-6">

  <p>
    ты всё запорол username )
  </p>
  <p>
    иди снова оплачивай username
  </p>

  <% if current_ticket %>
    <%= link_to 'пробуй снова', payment_url %>
  <% end %>
  <%= link_to 'вернуться на главную страницу', root_url %>

</div>