<div class="auth-block content-z-top col-lg-offset-3 col-lg-6">

  <p>
    Платеж не прошел username )
  </p>
  <p>
    Попробуйте снова оплатить username
  </p>

  <% if current_ticket %>
    <%= link_to 'Попробуйте снова', payment_url %>
  <% end %>
  <%= link_to 'Вернуться на главную страницу', root_url %>

</div>