<div class="auth-block content-z-top col-lg-offset-3 col-lg-6">

  <p>теперь ты обладатель этого билета ! поздравляем !</p>
  <p>не опаздывай !</p>
  <p>будет интересно !</p>

  <ul>
    <li>квест <%= @ticket.quest_item.name %></li>
    <li>когда начало <%= l(@ticket.dt.to_datetime, :format => "%d %B %A %H:%M") %></li>
  </ul>

</div>

<%= link_to 'вернуться на главную страницу', root_url %>